@charset "UTF-8";
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  box-sizing: border-box; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 50%; } }

.container {
  display: grid;
  grid-template-rows: 80vh min-content 40vw repeat(3, min-content);
  grid-template-columns: [sidebar-start] 8rem [sidebar-end full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end]; }
  @media only screen and (max-width: 62.5em) {
    .container {
      grid-template-rows: 6rem 80vh min-content 40vw repeat(3, min-content);
      grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end]; } }
  @media only screen and (max-width: 50em) {
    .container {
      grid-template-rows: 6rem calc(100vh) min-content min-content 40vw 40vw repeat(3, min-content); } }

body {
  font-family: "Nunito", sans-serif;
  color: #6D5D4B;
  font-size: 1.6rem;
  font-weight: 300; }

.heading-1, .heading-2, .heading-3, .heading-4 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400; }

.heading-1 {
  font-size: 4.5rem;
  line-height: 1;
  color: #f9f7f6; }

.heading-2 {
  font-size: 4rem;
  font-style: italic; }
  .heading-2--light {
    color: #c69963; }
  .heading-2--dark {
    color: #6D5D4B; }

.heading-3 {
  font-size: 1.6rem;
  text-transform: uppercase;
  color: #c69963;
  font-weight: 400; }
  .heading-3--light {
    color: #c69963; }
  .heading-3--dark {
    color: #B28451; }

.heading-4 {
  font-size: 1.9rem; }
  .heading-4--light {
    color: #f9f7f6; }
  .heading-4--dark {
    color: #54483A; }

.mb-sm {
  margin-bottom: 2rem; }

.mb-md {
  margin-bottom: 3rem; }

.mb-lg {
  margin-bottom: 4rem; }

.mb-hg {
  margin-bottom: 8rem; }

.sidebar {
  background-color: #c69963;
  grid-row: 1 / -1;
  grid-column: sidebar-start / sidebar-end;
  display: flex;
  justify-content: center; }
  @media only screen and (max-width: 62.5em) {
    .sidebar {
      grid-column: 1 / -1;
      grid-row: 1 / 2;
      justify-content: flex-end;
      align-content: center; } }

.nav-btn {
  border: none;
  border-radius: none;
  width: 4.5rem;
  height: 0.2rem;
  background-color: #fff;
  margin-top: 3rem;
  transition: all 0.2s; }
  .nav-btn::after, .nav-btn::before {
    content: "";
    width: 4.5rem;
    height: 0.2rem;
    background-color: #fff;
    display: block; }
  .nav-btn::after {
    transform: translateY(1.3rem); }
  .nav-btn::before {
    transform: translateY(-1.5rem); }
  @media only screen and (max-width: 75em) {
    .nav-btn::after {
      height: 2px; } }
  @media only screen and (max-width: 62.5em) {
    .nav-btn {
      margin-right: 3rem; }
      .nav-btn::before {
        transform: translateY(-1.2rem); }
      .nav-btn::after {
        transform: translateY(1.2rem); } }

.header {
  background-color: #54483A;
  grid-column: full-start / col-end 6;
  padding: 8rem;
  padding-top: 4rem;
  background-image: linear-gradient(rgba(16, 29, 44, 0.95), rgba(16, 29, 44, 0.95)), url(/img/hero.jpeg);
  background-size: cover;
  background-position: center;
  display: grid;
  grid-template-rows: 1fr min-content minmax(6rem, min-content) 1fr;
  grid-template-columns: minmax(min-content, max-content);
  gap: 1rem; }
  @media only screen and (max-width: 50em) {
    .header {
      grid-column: 1 / -1; } }
  .header__logo {
    height: 3rem;
    justify-self: center; }
  .header__btn {
    justify-self: start;
    align-self: flex-start; }
  .header__seenon-text {
    display: grid;
    font-size: 1.6rem;
    text-align: center;
    color: #aaa;
    grid-template-columns: 1fr minmax(min-content, max-content) 1fr;
    align-items: center;
    gap: 2rem; }
    .header__seenon-text::before, .header__seenon-text::after {
      content: "";
      display: block;
      height: 1px;
      background-color: currentColor; }
  .header__seenon-logos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 3rem;
    justify-items: center; }
    .header__seenon-logos img {
      max-height: 2.5rem;
      filter: brightness(70%); }

.realtors {
  background-color: #101d2c;
  grid-column: col-start 7 / -1;
  padding: 3rem;
  display: grid;
  /*GREAT EXAMPLE OF JUSTIFY/ALIGN CONTENT VÀ ITEMS*/
  justify-content: center;
  align-content: center; }
  @media only screen and (max-width: 50em) {
    .realtors {
      grid-column: 1 / -1; } }
  .realtors h3 {
    text-align: center; }
  .realtors__list {
    display: grid;
    grid-template-columns: min-content max-content;
    column-gap: 2rem;
    row-gap: 5vh;
    align-items: center; }
    @media only screen and (max-width: 50em) {
      .realtors__list {
        grid-auto-flow: column;
        margin-top: 2rem; } }
  .realtors__img {
    height: 6.5rem;
    border-radius: 50%;
    display: block; }
  .realtors__name {
    color: white;
    font-size: 1.6rem;
    font-weight: 600;
    letter-spacing: 0.2rem; }
  .realtors__exp {
    color: #aaa;
    font-size: 1rem;
    text-transform: uppercase; }

.gallery {
  grid-column: full-start / full-end;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(7, 5vw);
  gap: 1.5rem;
  padding: 1.5rem; }
  .gallery__item-1 {
    grid-row: 1 / span 2;
    grid-column: 1 / span 2; }
  .gallery__item-2 {
    grid-column: 3 / span 3;
    grid-row: 1 / span 3; }
  .gallery__item-3 {
    grid-column: 6 / 7;
    grid-row: 1 / span 2; }
  .gallery__item-4 {
    grid-column: 7 / span 2;
    grid-row: 1 / span 2; }
  .gallery__item-5 {
    grid-column: 1 / span 2;
    grid-row: 3 / span 3; }
  .gallery__item-6 {
    grid-column: 3 / span 2;
    grid-row: 4 / span 2; }
  .gallery__item-7 {
    grid-column: 5 / 6;
    grid-row: 4 / 5; }
  .gallery__item-8 {
    grid-column: 6 / span 2;
    grid-row: 3 / span 2; }
  .gallery__item-9 {
    grid-row: 3 / 6; }
  .gallery__item-10 {
    grid-column: 1 / 2;
    grid-row: 6 / span 2; }
  .gallery__item-11 {
    grid-column: 2 / span 2;
    grid-row: 6 / span 2; }
  .gallery__item-12 {
    grid-column: 4 / 5;
    grid-row: 6 / span 2; }
  .gallery__item-13 {
    grid-column: 5 / span 3;
    grid-row: 5 / span 3; }
  .gallery__item-14 {
    grid-row: 6 / span 2; }
  .gallery__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block; }

.footer {
  background-color: #101d2c;
  grid-column: full-start / full-end;
  padding: 8rem; }

.nav {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  column-gap: 2rem;
  align-items: center;
  justify-items: center; }
  .nav__item {
    list-style: none; }
  .nav__link:link, .nav__link:visited {
    display: block;
    text-decoration: none;
    font-size: 1.4rem;
    color: white;
    font-family: "Josefin Sans", sans-serif;
    text-transform: uppercase;
    display: inline-block;
    text-align: center;
    padding: 1.5rem;
    transition: all 0.2s; }
  .nav__link:hover {
    background-color: rgba(255, 255, 255, 0.05);
    transform: translateY(-0.5rem); }
  .nav__text {
    margin-top: 4rem;
    text-align: center;
    font-size: 1.4rem;
    width: 70%;
    margin-left: auto;
    margin-right: auto; }

.story__pictures {
  grid-column: full-start / col-end 4;
  background-image: linear-gradient(rgba(198, 153, 99, 0.5), rgba(198, 153, 99, 0.5)), url(/img/back.jpg);
  position: relative; }
  @media only screen and (max-width: 50em) {
    .story__pictures {
      grid-column: 1 / -1; } }

.story__img-1 {
  width: 70%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3); }
  @media only screen and (max-width: 50em) {
    .story__img-1 {
      width: 40%; } }

.story__img-2 {
  width: 55%;
  position: absolute;
  top: 50%;
  left: 50%;
  box-shadow: 0 2rem 2rem rgba(0, 0, 0, 0.3); }
  @media only screen and (max-width: 50em) {
    .story__img-2 {
      width: 30%; } }

.story__content {
  background-color: #f9f7f6;
  grid-column: col-start 5 / -1;
  padding: 6rem 7vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start; }
  @media only screen and (max-width: 50em) {
    .story__content {
      grid-column: 1 / -1;
      grid-row: 5 / 6; } }

.story__text {
  font-size: 1.5rem;
  line-height: 1.6;
  margin-bottom: 3rem; }

.features {
  grid-column: center-start / center-end;
  display: grid;
  /*Responsive: use auto-fit tricks, auto-fit creates as many track that
  it can fit based on width (between 25rem - 1fr as we defined) */
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  column-gap: 6rem;
  row-gap: 6rem;
  margin: 15rem 0;
  /* Nhiều đoạn text quá ít dẫn đến việc vertical align bị dư khoảng trống
  tức là align-items default to center, -> start*/
  align-items: start; }

.feature {
  display: grid;
  grid-template-columns: min-content 1fr;
  column-gap: 2.5rem;
  row-gap: 1.5rem; }
  .feature__icon {
    fill: #c69963;
    width: 4.5rem;
    height: 4.5rem;
    grid-row: 1 / span 2;
    transform: translateY(-1rem); }
  .feature__text {
    font-size: 1.7rem; }

.btn {
  padding: 1.5rem 2.5rem;
  font-size: 1.5rem;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  border: none;
  border-radius: 0;
  background-color: #c69963;
  color: white;
  transition: all 0.2s; }
  .btn:hover {
    background-color: #B28451; }
  .btn:focus {
    outline: none; }

.homes {
  grid-column: center-start / center-end;
  margin: 15rem 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 7rem; }

.home {
  background-color: #f9f7f6;
  display: grid;
  row-gap: 2.5rem;
  grid-template-columns: repeat(2, 1fr); }
  .home__img {
    width: 100%;
    grid-column: 1/-1;
    grid-row: 1/2;
    z-index: 1; }
  .home__like {
    grid-column: 1/-1;
    grid-row: 1/2;
    z-index: 2;
    width: 2rem;
    height: 2rem;
    fill: #c69963;
    justify-self: end;
    margin: 1rem; }
  .home__name {
    grid-column: 1/-1;
    grid-row: 1/2;
    z-index: 3;
    width: 80%;
    justify-self: center;
    align-self: end;
    transform: translateY(50%);
    background-color: #101d2c;
    font-size: 1.5rem;
    font-family: "Josefin Sans", sans-serif;
    color: white;
    font-weight: 400;
    padding: 1.3rem;
    text-align: center; }
  .home__location, .home__rooms {
    margin-top: 1.7rem; }
  .home__location, .home__price, .home__rooms, .home__area {
    margin-left: 2rem;
    padding: 1rem;
    display: flex; }
    .home__location svg, .home__price svg, .home__rooms svg, .home__area svg {
      fill: #c69963;
      height: 2rem;
      width: 2rem;
      margin-right: 2rem; }
  .home__btn {
    grid-column: 1/-1; }
