@charset "UTF-8";
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  box-sizing: border-box; }

.container {
  display: grid;
  grid-template-rows: 80vh min-content 40vw repeat(3, min-content);
  grid-template-columns: [sidebar-start] 8rem [sidebar-end full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end]; }

body {
  font-family: "Nunito", sans-serif;
  color: #6D5D4B;
  font-size: 1.6rem;
  font-weight: 300; }

.heading-1, .heading-2, .heading-3, .heading-4 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400; }

.heading-2 {
  font-size: 4rem;
  font-style: italic; }
  .heading-2--light {
    color: #c69963; }
  .heading-2--dark {
    color: #6D5D4B; }

.heading-3 {
  font-size: 1.6rem;
  text-transform: uppercase; }
  .heading-3--light {
    color: #c69963; }
  .heading-3--dark {
    color: #B28451; }

.heading-4 {
  font-size: 1.9rem; }
  .heading-4--light {
    color: #f9f7f6; }
  .heading-4--dark {
    color: #54483A; }

.mb-sm {
  margin-bottom: 2rem; }

.mb-md {
  margin-bottom: 3rem; }

.mb-lg {
  margin-bottom: 4rem; }

.mb-hg {
  margin-bottom: 8rem; }

.sidebar {
  background-color: #c69963;
  grid-row: 1 / -1;
  grid-column: sidebar-start / sidebar-end; }

.header {
  background-color: lightcoral;
  grid-row: 1 / 2;
  grid-column: full-start / col-end 6; }

.realtors {
  background-color: greenyellow;
  grid-column: col-start 7 / -1; }

.gallery {
  background-color: springgreen;
  grid-column: full-start / full-end; }

.footer {
  background-color: #aaa;
  grid-column: full-start / full-end; }

.story__pictures {
  background-color: orange;
  grid-column: full-start / col-end 4; }

.story__content {
  background-color: #f9f7f6;
  grid-column: col-start 5 / -1;
  padding: 6rem 4vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start; }

.story__text {
  font-size: 1.5rem;
  line-height: 1.6;
  margin-bottom: 3rem; }

.features {
  grid-column: center-start / center-end;
  display: grid;
  /*Responsive: use auto-fit tricks, auto-fit creates as many track that
  it can fit based on width (between 25rem - 1fr as we defined) */
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  column-gap: 6rem;
  row-gap: 6rem;
  margin: 15rem 0;
  /* Nhiều đoạn text quá ít dẫn đến việc vertical align bị dư khoảng trống
  tức là align-items default to center, -> start*/
  align-items: start; }

.feature {
  display: grid;
  grid-template-columns: min-content 1fr;
  column-gap: 2.5rem;
  row-gap: 1.5rem; }
  .feature__icon {
    fill: #c69963;
    width: 4.5rem;
    height: 4.5rem;
    grid-row: 1 / span 2;
    transform: translateY(-1rem); }
  .feature__text {
    font-size: 1.7rem; }

.btn {
  padding: 1.5rem 2.5rem;
  font-size: 1.5rem;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  border: none;
  border-radius: 0;
  background-color: #c69963;
  color: white;
  transition: all 0.2s; }
  .btn:hover {
    background-color: #B28451; }
  .btn:focus {
    outline: none; }

.homes {
  grid-column: center-start / center-end; }
