.features {
  grid-column: center-start / center-end;

  display: grid;
  // grid-template-columns: repeat(3, 1fr);
  /*Responsive: use auto-fit tricks, auto-fit creates as many track that
  it can fit based on width (between 25rem - 1fr as we defined) */
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  column-gap: 6rem;
  row-gap: 6rem;
  margin: 15rem 0;

  /* Nhiều đoạn text quá ít dẫn đến việc vertical align bị dư khoảng trống
  tức là align-items default to center, -> start*/
  align-items: start;
}

.feature {
  display: grid;
  grid-template-columns: min-content 1fr;
  column-gap: 2.5rem;
  row-gap: 1.5rem;

  &__icon {
    fill: $color-primary;
    width: 4.5rem;
    height: 4.5rem;
    grid-row: 1 / span 2;
    transform: translateY(-1rem);
  }

  &__text {
    font-size: 1.7rem;
  }
}