.header {
  background-color: $color-grey-dark-1;

  grid-row: 1 / 2;
  grid-column: full-start / col-end 6;
  padding: 5rem;
  background-image: linear-gradient(
      rgba($color-secondary, 0.95),
      rgba($color-secondary, 0.95)
    ),
    url(/img/hero.jpeg);
  background-size: cover;
  background-position: center;

  display: grid;
  grid-template-rows: 1fr min-content 5rem 1fr;
  grid-template-columns: max-content;
  gap: 1rem;

  &__logo {
    height: 3rem;
    justify-self: center;
  }

  &__btn {
    justify-self: start;
    align-self: flex-start;
  }

  &__seenon-text {
    font-size: 1.4rem;
  }

  &__seenon-logos {
    img {
      height: 2.5rem;
    }
  }
}
