.realtors {
  background-color: $color-secondary;
  grid-column: col-start 7 / -1;
  padding: 3rem;

  display: grid;
  /*GREAT EXAMPLE OF JUSTIFY/ALIGN CONTENT VÀ ITEMS*/
  // Justify+align content, cột+hàng track sẽ thu hẹp lại nằm ở giữa
  // Align the track both horizontally+vertically
  justify-content: center;
  align-content: center;
  // Neu dung justify+align items, track sẽ nở rộng trong khi nội dung sẽ
  // đc nằm giữa
  // justify-items - Align 'content' inside 'grid item' along the row axis. 
  // justify-items: center;
  // align-items: center;

  @media only screen and (max-width: $bp-medium) {
    grid-column: 1 / -1;
  }

  h3 {
    text-align: center;
  }

  &__list {
    display: grid;
    grid-template-columns: min-content max-content;
    column-gap: 2rem;
    row-gap: 5vh;
    align-items: center;

    @media only screen and (max-width: $bp-medium) {
      grid-auto-flow: column;
      margin-top: 2rem;
    }
  }

  &__img {
    height: 6.5rem;
    border-radius: 50%;
    display: block;
  }

  &__name {
    color: white;
    font-size: 1.6rem;
    font-weight: 600;
    letter-spacing: 0.2rem;
  }

  &__exp {
    color: $color-grey-light-2;
    font-size: 1rem;
    text-transform: uppercase;
  }
}
