.sidebar {
  background-color: $color-primary;

  grid-row: 1 / -1;
  grid-column: sidebar-start / sidebar-end;

  display: flex;
  justify-content: center;
}

.nav-btn {
  border: none;
  border-radius: none;

  width: 4.5rem;
  height: 0.2rem;
  background-color: #fff;
  margin-top: 3rem;

  transition: all 0.2s;

  &::after,
  &::before {
    content: "";
    width: 4.5rem;
    height: 0.2rem;
    background-color: #fff;
    display: block;
  }

  &::after {
    transform: translateY(1.3rem);
  }
  &::before {
    transform: translateY(-1.5rem);
  }

  
}
